<div>
    <h2>Faça seu login</h2>
    <input type="email" placeholder="email" name="" id="">
    <input type="password" placeholder="password" name="" id="">
    <button type="submit">Enviar</button>
</div>